*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-size: 14px;
    background-color: #fdfdfd;
    font-family: "Josefin Sans", sans-serif;
  }

  header {
    text-align: center;
    color: tomato;
    font-family: "Amatic SC", cursive;
  }